@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  #__next {
    @apply bg-dark-300 min-h-screen px-4 scroll-smooth sm:px-8;
  }

  html::-webkit-scrollbar {
    @apply w-[6px] bg-dark-200;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-blue rounded-2xl;
  }
}